<div class="row mt-5 mx-3 d-flex align-items-end">
    <div class="d-flex flex-row justify-content-center overline color-dim-grey">
        <a href="javascript:void(0)" data-toggle="modal" data-target="#scrollable-modal" class="text-decoration-none color-dim-grey">Terms of use</a>
        <div class="mx-2">|</div>
        <a href="https://tranglo.com/privacy-policy/" target="_blank" class="text-decoration-none color-dim-grey">Privacy</a>
        <div class="mx-2">|</div>
        <a href="https://tranglo.com/cookie-policy" target="_blank" class="text-decoration-none color-dim-grey">Cookie</a>
        <div class="mx-2">|</div>
        <a href="https://tranglo.com/complaint/" target="_blank" class="text-decoration-none color-dim-grey">Complaint</a>
        <div class="mx-2">|</div>
        <a href="https://tranglo.com/licences/" target="_blank" class="text-decoration-none color-dim-grey">Licences</a>
        <div class="mx-2">|</div>
        <a href="https://tranglo.com/wp-content/uploads/2022/03/Tranglo_list_of_prohibited_businesses.pdf" target="_blank" class="text-decoration-none color-dim-grey">List of prohibited businesses</a>
    </div>

    <div class="d-flex justify-content-center mt-2 overline">
        <div class="color-dim-grey">Copyright &copy Tranglo All rights reserved</div>
    </div>
</div>