<style>
    ol.custom-ol-counter {
        list-style-type: none;
        counter-reset: item;
        margin: 0;
        padding: 0;
    }

        ol.custom-ol-counter > li {
            display: table;
            counter-increment: item;
            margin: 0.6em;
        }

            ol.custom-ol-counter > li:before {
                content: counters(item, ".") ". ";
                display: table-cell;
                padding-right: 0.6em;
            }

    li ol.custom-ol-counter > li {
        margin: 0;
        margin-top: .5rem;
        margin-bottom: .7rem;
    }

        li ol.custom-ol-counter > li:before {
            content: counters(item, ".") ". ";
        }

    li ol > li {
        margin: 0;
        margin-top: .5rem;
        margin-bottom: .7rem;
    }
</style>
<p>
    <b>TRANGLO PORTAL TERMS OF USE</b>
    <br />
    Last updated on December 11, 2025.
</p>

<ol class="custom-ol-counter">
    <li>
        <b>Introduction</b>
        <ol class="custom-ol-counter">
            <li>
                We, Tranglo Sdn Bhd [Registration No. 200801007956 (809241-M)] together with its subsidiaries ("<b>Tranglo</b>") are in the provision of cross
                border money transfer and other related services.
            </li>
            <li>
                By using this website ("<b>Site</b>") and registering for an account for Tranglo's Services (as defined below) ("<b>Account</b>"), you agree
                that you have read, understood, accepted and agreed to be bound by the terms and conditions stated below ("<b>Terms</b>").
            </li>
        </ol>
    </li>

    <li>
        <b>Amendments to these Terms</b>
        <ol class="custom-ol-counter">
            <li>
                You hereby expressly acknowledge and agree to be bound by any future amendments to these Terms as published from time to time at this Site.
                You will be notified of any changes to these Terms through your email and upon such notification, it is your responsibility to review the
                amended Terms.
            </li>
            <li>
                Notwithstanding the foregoing, we reserve the right to amend these Terms without notice to you if an immediate amendment is required; or where
                it is impracticable for us to give such advance notice due to change of any rule, regulation or law and/or pursuant to any order or direction
                by any governmental or regulatory authority.
            </li>
            <li>
                Your continued use of the Site and the Services signifies your acceptance and agreement to the changes, and that all subsequent usage of the
                Site and the Services by you will be subject to the amended Terms.
            </li>
            <li>If you do not agree to these Terms (including any amendments), please discontinue using this Site and the Services.</li>
        </ol>
    </li>

    <li>
        <b>Tranglo’s Services</b>
        <ol class="custom-ol-counter">
            <li>
                Tranglo provides the following Services, and you may subscribe to one or more of them (each a "<b>Service</b>", and collectively the
                "<b>Services</b>"):
                <ol type="a">
                    <li>Tranglo Business;</li>
                    <li>Tranglo Connect.</li>
                </ol>
            </li>
            <li>
                To apply for an Account for Tranglo's Services, you are required to provide information and documents relating to you or person(s) authorised
                to apply, use, access or terminate these Services ("<b>Representative</b>"), as well as details related to your business activities, for due
                diligence, verification and approval by Tranglo. Please find below the specific regulatory notice for your attention:
                <div class="margin-y-4">
                    <div class="text-center"><b>Remittance Service</b></div>
                    Customer Due Diligence (CDD) is a requirement under the Anti-Money Laundering and Anti-Terrorism Financing Act 2001 (AMLATFA) and Money
                    Services Business Act 2011 (MSBA). CDD shall be conducted on customer conducting any transaction. Please produce your identification
                    document before making any transaction.
                    <br /><br />
                    <div class="text-center"><b>Perkhimatan Pengiriman Wang</b></div>
                    Pelaksanaan Usaha Wajar Pelanggan (Customer Due Diligence / CDD) adalah satu keperluan di bawah Akta Pencegahan Pengubahan Wang Haram dan
                    Pencegahan Pembiayaan Keganasan 2001 (AMLATFA) dan Akta Perniagaan Perkhidmatan Wang 2011 (MSBA). Usaha Wajar Pelanggan akan dilaksanakan
                    terhadap pelanggan yang melakukan sebarang transaksi. Sila sediakan dokumen pengenalan anda sebelum menjalankan sebarang transaksi.
                </div>
            </li>
            <li>
                You expressly represent and warrant that:
                <ol type="a">
                    <li>
                        all information and documents disclosed to us are true, complete and accurate. If there are any changes to such information or documents
                        (whether during the application process or while using the Services), you must notify us in writing at
                        <a href="mailto:kyc@tranglo.com">kyc&#64;tranglo.com</a> immediately;
                    </li>
                    <li>
                        you are legally able to accept and agree to the Terms and where applicable, you have the right, authority and capacity to represent and
                        bind the business entity that you are working for to use the Service and to abide by the Terms.
                    </li>
                </ol>
            </li>
            <li>
                Each of the Service will be governed, construed, interpreted by and enforced under the terms and conditions of the respective Service. You
                will have the opportunity to review and agree to the respective terms and conditions after you have completed your Account registration and
                before you begin using the Service.
            </li>
            <li>
                When using the Services, you agree to comply with all applicable laws and regulations in your country of residence and any jurisdiction where
                you operate or access the Services. Additionally, where required, you confirm that you hold and will maintain the necessary licences or
                approvals from the relevant regulatory authorities for as long as you continue using the Services.
            </li>
            <li>
                <u>Access and Use of Site and Account</u>
                <ol type="a">
                    <li>
                        Tranglo shall be entitled to remove, cancel, withdraw, restrict, suspend, vary or modify, in whole or in part, the use and features
                        available on the Site, the Services and the Account.
                    </li>
                    <li>
                        Without limiting the terms and conditions of the respective Service, you agree that you will, and you will procure that your
                        Representative will:
                        <ol type="i">
                            <li>access and use the Site, the Services, and the Account in a lawful manner and in accordance with the Terms;</li>
                            <li>not use or make available the Services to any person for any act or conduct that is illegal, malicious and/or fraudulent;</li>
                            <li>not impair the proper operation of the network;</li>
                            <li>not copy, or distribute the Services or any other content, without written permission from Tranglo;</li>
                            <li>
                                ensure that the access and use of the Site, the Services and the Account do not and will not violate any laws or regulations
                                applicable to both you and Tranglo; and
                            </li>
                            <li>
                                provide any and all information or document, including but not limited to information or document related to you, as we requested by
                                us to conduct due diligence and ensure compliance with applicable laws and regulations related to the Site, the Services and the
                                Account.
                            </li>
                        </ol>
                    </li>
                </ol>
            </li>
            <li>
                The Services are not available to persons under the age of eighteen (18) or such persons prohibited, for any reason whatsoever, from entering
                into a contractual relationship. Tranglo shall not be liable for any unauthorised use by persons who do not meet these eligibility criteria.
                By accessing or using the Services, you confirm that you meet the eligibility requirements and you are responsible for any consequences
                arising from a violation of this clause.
            </li>
            <li>
                You may only access the Site using authorised means. It is your responsibility to ensure that your systems or devices are compatible for the
                use of the Site, the Services and the Account. Tranglo will not be responsible for any incompatibility issues faced by you. Further, Tranglo
                reserves the right to disable access or restrict your use of the Site, the Services and the Account should you use an incompatible or
                unauthorised device or if your usage deviates from the intended purpose of the Site and Services.
            </li>
            <li>
                You agree that:
                <ol type="a">
                    <li>you will keep your account password or any identification provided by Tranglo secure and confidential;</li>
                    <li>you will provide any proof of identity as Tranglo may reasonably request;</li>
                    <li>
                        you will provide accurate, current and complete information and you are responsible to update your information in a timely manner to
                        ensure its accuracy at all times. Tranglo shall rely on your information as accurate, current and complete;
                    </li>
                    <li>
                        if any information is or becomes untrue, inaccurate, outdated or incomplete in any respect, Tranglo reserves the right to terminate or
                        suspend your Account and use of the Services immediately without prior notice;
                    </li>
                    <li>
                        where applicable, you shall enter into a separate commercial agreement and execute any legally binding agreements or do all such other
                        acts, as may be necessary or appropriate, before using the Services.
                    </li>
                </ol>
            </li>
        </ol>
    </li>

    <li>
        <b>Personal Data Protection</b>
        <ol class="custom-ol-counter">
            <li>
                In respect of any personally identifiable information you have shared with us, including any information relating to your Representative,
                customer and recipient, (collectively, "<b>Personal Data</b>") for the purpose of this Site and Services, you:
                <ol type="a">
                    <li>you agree and accept that the Personal Data will be processed in accordance with Tranglo Privacy Notice;</li>
                    <li>confirm that you have obtained all necessary consent and authorisation from the individual whose Personal Data are shared with us.</li>
                </ol>
            </li>
            <li>
                To protect the Personal Data, each party shall:
                <ol type="a">
                    <li>
                        comply with its obligations in accordance with any applicable data protection and privacy laws, legislation and regulatory requirements
                        from time to time. This includes, but not limited to, Personal Data Protection Act 2010 (as may be amended, replaced or updated from time
                        to time), relevant data and records storage requirements in respect of any Personal Data processed for the purpose of the Services; and
                    </li>
                    <li>
                        maintain, implement technical and organisational security measures in accordance with industry standards to prevent unauthorised access,
                        disclosure, loss, destruction or alteration to the Personal Data.
                    </li>
                </ol>
            </li>
            <li>
                Before sharing any Personal Data with us, you must inform the individual that their Personal Data will be shared with Tranglo for processing
                for the purpose of the Services and for other purposes as set out in Tranglo Privacy Notice. Where required, and upon Tranglo's request, you
                must provide proof of the individual's consent.
            </li>
        </ol>
    </li>

    <li>
        <b>Licence; Intellectual Property Rights</b>
        <ol class="custom-ol-counter">
            <li>
                <u>Licence to Access and Use the Site</u>. We retain all rights, title, and interest in and to the Site, including all IP Rights (as defined
                below).
            </li>
            <li>
                <u>Ownership of IP Rights</u>. All trade names, trademarks, service marks, slogans, logos, patents, copyrights, software, business processes,
                inventions, trade secrets and other present and future similar rights, in whatever media, whether registered or unregistered ("<b>IP Rights</b>") in relation to the Site and Tranglo's Services are the sole and exclusive property of Tranglo or its affiliates. You may not use any such
                IP Rights in advertising, publicity or in any commercial manner without our prior written consent.
            </li>
            <li>
                For the avoidance doubt, your right to use the Site and the Services do not grant you:
                <ol type="a">
                    <li>any right to reproduce, modify, distribute or publicly display in the Site; or</li>
                    <li>any other rights to Tranglo's or its affiliates' IP Rights which is not specifically set out in these Terms.</li>
                </ol>
            </li>
        </ol>
    </li>

    <li>
        <b>Risk and Disclaimer</b>
        <ol class="custom-ol-counter">
            <li>
                You acknowledge and agree that the Site:
                <ol type="a">
                    <li>
                        is provided on an "as-is" and "as-available" basis, and to the maximum extent permitted under applicable law, all representations,
                        warranties, conditions and other terms implied by statute, common law or otherwise in respect of the Site (including but not limited to,
                        the implied conditions, warranties or terms as to satisfactory quality, fitness for purpose or the use of reasonable skill and care) are
                        excluded from these Terms;
                    </li>
                    <li>
                        may be subject to limitations, delays, and other issues inherent in the use of the internet and electronic communications including but
                        not limited to the device (if any) used by you or the third-party provider being faulty, not connected, out of range, switched off or not
                        functioning;
                    </li>
                    <li>
                        may have temporary interruptions in its service due to failure beyond our control including but not limited to, the failure of
                        interconnecting operating systems, computer viruses, and forces of nature, labour disputes, pandemics and armed conflicts.
                    </li>
                </ol>
            </li>
            <li>Notwithstanding the above, we will use reasonable endeavours to ensure that the Site can be accessed by you.</li>
            <li>
                Nothing in these Terms or on the Site constitute business, legal or financial advice. You should consider obtaining your own, independent
                legal advice before using the Services.
            </li>
            <li>
                The Site may contain links to or references from other websites. We do not control any aspect whatsoever of the opinion, advice, or
                information displayed on or otherwise available through any third-party links or website. We accept no liability for any loss or damage
                arising from your reliance or use of them.
            </li>
        </ol>
    </li>

    <li>
        <b>Indemnity and Limitation of Liability</b>
        <ol class="custom-ol-counter">
            <li>
                <u>Indemnity</u>. You agree to indemnify and hold harmless Tranglo, its and its affiliates' directors, employees, agents and authorised
                Representatives against any and all liabilities, costs, expenses, losses and damages (including all professional costs and expenses calculated
                on a full indemnity basis), arising out of or in connection with:
                <ol type="a">
                    <li>your misuse of the Services or Site in a manner that we, at our sole discretion, consider illegal or prohibited;</li>
                    <li>
                        all claims and demands that we may receive from any third-party for execution, non-execution or delay in execution of your Instruction in
                        the respective Services you have subscribed with Tranglo;
                    </li>
                    <li>your breach of any of the provisions in these Terms or any applicable laws or regulations; and</li>
                    <li>
                        your violation of any rights of any customer, recipient and/or third party, including but not limited to, intellectual property rights.
                    </li>
                </ol>
            </li>
            <li>
                <u>Limitation of Liability</u>
                <ol type="a">
                    <li>
                        Our liability to you is limited to your use of the Site only. We shall not be liable, obligated or be responsible for any disputes between
                        you and your customers or any other third party. You shall resolve such disputes directly with the relevant persons.
                    </li>
                    <li>
                        Neither we, our officers nor employees will be liable to you or any third party connected to your use of the Site for any loss of
                        business, profits, revenue or goodwill, and any indirect, consequential, special, exemplary or punitive losses or damages suffered,
                        whether arising from negligence, breach of contract or otherwise (including but not limited to unauthorised use of the Site or inability
                        to access or use of the Site).
                    </li>
                </ol>
            </li>
        </ol>
    </li>

    <li>
        <b>Dispute Resolution</b>
        <ol class="custom-ol-counter">
            <li>
                <u>Governing Law</u>. These Terms and the rights of each party shall be governed by and construed in accordance with the laws of Malaysia.
            </li>
            <li>
                <u>Good Faith Discussion</u>. Any dispute relating to or arising from the use of this Site shall first be resolved through good faith
                discussions. Either party may issue a written notice to the other to initiate such discussions.
            </li>
            <li>
                <u>Dispute Resolution</u>. If the dispute cannot be amicably resolved through good faith discussions, Parties agree to submit to the exclusive
                jurisdiction of the court of Malaysia.
            </li>
        </ol>
    </li>

    <li>
        <b>Contact Us</b>
        <ol class="custom-ol-counter">
            <li>
                If you have any questions regarding these Terms or our Services please contact us at
                <a href="mailto:support_remittance@tranglo.com">support_remittance&#64;tranglo.com</a>.
            </li>
        </ol>
    </li>
</ol>
