<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <location path="." inheritInChildApplications="false">
    <system.webServer>
      <security>
        <requestFiltering removeServerHeader="true" >
		    <!-- maxAllowedContentLength is in bytes (31 MB = 32505856 bytes) -->
			<requestLimits maxAllowedContentLength="32505856" />
	    </requestFiltering>
      </security>
      <modules>
        <remove name="WebDAVModule" />
      </modules>
      <httpProtocol>
        <customHeaders>
          <remove name="X-Powered-By" />

          <!-- Prevent MIME type sniffing -->
          <add name="X-Content-Type-Options" value="nosniff" />
          <!-- Prevent clickjacking -->
          <add name="X-Frame-Options" value="DENY" />
          <!-- Enforce HTTPS -->
          <add name="Strict-Transport-Security" value="max-age=31536000; includeSubDomains" />
        </customHeaders>
      </httpProtocol>
      <handlers>
        <remove name="WebDAV" />
        <remove name="ExtensionlessUrlHandler-Integrated-4.0" />
        <remove name="OPTIONSVerbHandler" />
        <remove name="TRACEVerbHandler" />
        <add name="aspNetCore" path="*" verb="*" modules="AspNetCoreModuleV2" resourceType="Unspecified" />
      </handlers>
      <aspNetCore processPath="dotnet" arguments=".\Tranglo1.CustomerIdentity.IdentityServer.dll" stdoutLogEnabled="false" stdoutLogFile=".\logs\stdout" hostingModel="inprocess" />
    </system.webServer>
  </location>
</configuration>
<!--ProjectGuid: 6DE52203-FF1F-4D09-8491-A7AE2AAD7AA2-->