<div class="row mt-5 vh-75">
    <div class="col d-flex align-item-center" style="justify-content: center">
        <div class="d-flex justify-content-center"  style="flex-direction: column">

            <img src="/assets/images/phase3/tranglo-logo-black.svg" height="37" class="mb-3">

            <img src="~/assets/images/alert.svg" height="100" class="mt-5 mb-3"/>
            
            <h4 class="mt-3 text-dark-50 text-center headline">Invalid Email Address</h4>
            <p class="mt-3 text-muted text-center subtitle-2">The email address you entered is not valid. </br> Please check and try again.</p>
            <p class="mt-3 text-muted text-center subtitle-2">Need help? Contact <a href="mailto:support@tranglo.com">support@tranglo.com</a></p>

            <div class="d-flex justify-content-center mt-3">
                <button class="mdc-button button-text w-50 primary-color custom-button" type="button"
                        id="reset-password-button"
                        onclick="window.location.href='/Account/ForgotPassword'">
                    <span class="mdc-button__ripple"></span> Return to Reset Password
                </button>
            </div>

            <div class="mt-4">
                <partial name="_FooterPartial" />
            </div>
            

        </div>
    </div>
</div>