<div class="row justify-content-center">
    <div>
        <div>

            <div class="pt-4">

                <div class="text-center w-75 m-auto">
                    <p class="text-muted mt-3 mb-4 text-center subtitle-2">
                        You have successfully Unsubscribed.
                    </p>
                    <br />
                </div>

            </div>
        </div>

        
        <!-- end row -->

    </div> <!-- end col -->
</div>
