<div class="row vh-100 me-0">
    <div class="col-md-6 d-sm-none d-xs-none d-lg-block ms-0">
        <div class="background-image-tranglo">
            <img src="/assets/images/tranglo-logo-2.svg" class="tranglo-logo" />
            <img src="/assets/images/extra-logo-tranglo-front-screen.svg" class="tranglo-extra-logo" />
        </div>
    </div>

    <div class="col d-flex flex-column justify-content-center align-items-center" style="max-height: 100vh; overflow: auto;">
        <div class="d-flex flex-column">
            <img src="~/assets/images/phase3/password-success.svg" height="80" />
            <h4 class="text-dark-50 text-center headline mt-3">Password updated successfully</h4>
            <p class="text-muted mt-3 text-center subtitle-2">Please log in with your new password.</p>
            <div class="mt-3 text-center">
                <a asp-controller="Account" asp-action="Login" style="text-decoration:none;">
                    <button class="mdc-button button-text w-100 primary-color custom-button" id="reset-password-button" type="submit">
                        <span class="mdc-button__ripple"></span> Continue to login
                    </button>
                </a>
            </div>
        </div>

        @* Footer *@
        <div class="row d-flex justify-content-center">
            <div class="col">
                <partial name="_FooterPartial" />
            </div>
        </div>
    </div>
</div>